body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.project-list {
    display: none; 
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.active {
    display: block;
}


button {
    margin: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.project {
    position: relative;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-top: 0;
}

p, a {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a {
    color: #007bff;
    font-weight: bold;
}

/* pop-up */

.success-message {
    padding: 10px 20px;
    margin: 10px 0;
    background-color: blue;
    color: black;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    display: block;
    animation: fadeOut 4s forwards; /* fades out the message after 4 seconds */
  }
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }
  
