#search-results {
    display: none; /* Initially hidden */
    width: 320%; /* Width adjusted to 100% to fit the container */
    max-height: 800px; /* Set max height for visible area */
    background-color: rgba(200, 200, 200, 0.5); /* Semi-transparent grey */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -100%;
    top: 162%; /* Align directly below the search input */
    z-index: 1000;
    overflow-y: auto; /* Allow vertical scrolling */
    border-radius: 5px; /* Adds rounded corners */
    transition: all 0.5s ease-out; /* Smooth transition for expanding */
    padding: 20px;
}

#search-results a {
    --tw-text-opacity: 1;
    color: rgba(29, 78, 216, var(--tw-text-opacity)); /* This is Tailwind's blue-600 color */
}

/* If you want to override link hover color: */
a:hover {
    --tw-text-opacity: 1;
    color: rgba(30, 64, 175, var(--tw-text-opacity)); /* This is Tailwind's blue-700 color */
}

