/* dashboard/css/style.css */

/* General Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.slides {
    display: flex;
    transition: all 0.5s ease;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 40px;
}

canvas {
    width: 100%;
    max-width: 900px; /* Limit the maximum size for large screens */
    max-height: 500px; /* Set a maximum height */
}

/* Navigation Dots */
.dots {
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Responsive Design */
@media (max-width: 768px) {
    .slide {
        padding: 20px;
    }

    canvas {
        max-height: 300px;
    }
}

@media (max-width: 480px) {
    .slide {
        padding: 10px;
    }

    canvas {
        max-width: 100%;
    }

    .dots {
        bottom: 5px;
    }
}
